In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configlast1 import g_keys

# Configure gmaps API key
gmaps.configure(api_key=g_keys)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_data_challenge/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Lima,PE,-12.0432,-77.0282,59.40,86,90,13.80,NaN
1,1,Ushuaia,AR,-54.8000,-68.3000,38.86,75,75,25.32,NaN
2,2,Jamestown,US,42.0970,-79.2353,60.39,87,90,7.00,NaN
3,3,Vaini,TO,-21.2000,-175.2000,75.36,88,40,10.36,NaN
4,4,Pangnirtung,CA,66.1451,-65.7125,34.43,60,100,2.82,NaN

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#In Step 3, use the loc method to filter the city_data_df DataFrame for temperature criteria collected in Step 2, then create a new DataFrame.
2
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Vaini,TO,-21.2000,-175.2000,75.36,88,40,10.36,NaN
6,6,Butaritari,KI,3.0707,172.7902,83.01,75,39,10.47,NaN
12,12,Kieta,PG,-6.2167,155.6333,82.99,77,21,4.90,NaN
15,15,Hilo,US,19.7297,-155.0900,83.93,76,20,14.97,NaN
17,17,Praia,CV,14.9215,-23.5087,79.34,78,75,13.80,NaN
19,19,Bathsheba,BB,13.2167,-59.5167,81.21,89,40,6.91,NaN
21,21,Gamba,GA,-2.6500,10.0000,75.24,89,97,4.72,NaN
22,22,Atuona,PF,-9.8000,-139.0333,77.94,77,66,19.19,NaN
23,23,Coahuayana,MX,18.7333,-103.6833,76.48,85,92,2.71,NaN
31,31,Portland,US,45.5234,-122.6762,85.84,37,20,1.01,NaN

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                406
City                   406
Country                406
Lat                    406
Lng                    406
Max Temp               406
Humidity               406
Cloudiness             406
Wind Speed             406
Weather Description    203
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleancity_df = preferred_cities_df.dropna()
cleancity_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
653,653,Vaini,TO,-21.2000,-175.2000,75.36,88,40,10.36,scattered clouds
656,656,Butaritari,KI,3.0707,172.7902,83.01,75,39,10.47,scattered clouds
662,662,Kieta,PG,-6.2167,155.6333,82.99,77,21,4.90,moderate rain
665,665,Hilo,US,19.7297,-155.0900,83.93,76,20,14.97,few clouds
667,667,Praia,CV,14.9215,-23.5087,79.34,78,75,13.80,broken clouds
...,...,...,...,...,...,...,...,...,...,...
1291,1291,Axim,GH,4.8699,-2.2405,76.30,89,98,4.88,light rain
1293,1293,Vila Velha,BR,-20.3297,-40.2925,76.96,64,40,11.50,scattered clouds
1294,1294,Belmopan,BZ,17.2500,-88.7667,85.28,81,89,4.07,overcast clouds
1295,1295,Nabire,ID,-3.3667,135.4833,78.98,88,97,2.35,overcast clouds
1298,1298,Tual,ID,-5.6667,132.7500,81.00,81,95,17.40,overcast clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleancity_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
653,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
656,Butaritari,KI,83.01,scattered clouds,3.0707,172.7902,
662,Kieta,PG,82.99,moderate rain,-6.2167,155.6333,
665,Hilo,US,83.93,few clouds,19.7297,-155.0900,
667,Praia,CV,79.34,broken clouds,14.9215,-23.5087,
669,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
671,Gamba,GA,75.24,overcast clouds,-2.6500,10.0000,
672,Atuona,PF,77.94,broken clouds,-9.8000,-139.0333,
673,Coahuayana,MX,76.48,overcast clouds,18.7333,-103.6833,
681,Portland,US,85.84,few clouds,45.5234,-122.6762,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_keys
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    #add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
653,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
656,Butaritari,KI,83.01,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
662,Kieta,PG,82.99,moderate rain,-6.2167,155.6333,Uruna Bay Retreat
665,Hilo,US,83.93,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
667,Praia,CV,79.34,broken clouds,14.9215,-23.5087,LT Aparthotel
...,...,...,...,...,...,...,...
1291,Axim,GH,76.30,light rain,4.8699,-2.2405,
1293,Vila Velha,BR,76.96,scattered clouds,-20.3297,-40.2925,
1294,Belmopan,BZ,85.28,overcast clouds,17.2500,-88.7667,
1295,Nabire,ID,78.98,overcast clouds,-3.3667,135.4833,
1298,Tual,ID,81.00,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [23]:
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
653,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
656,Butaritari,KI,83.01,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
662,Kieta,PG,82.99,moderate rain,-6.2167,155.6333,Uruna Bay Retreat
665,Hilo,US,83.93,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
667,Praia,CV,79.34,broken clouds,14.9215,-23.5087,LT Aparthotel

In [28]:
# 8a. Create the output File (CSV)
output_data_file1 = "weather_data_challenge/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file1, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))